@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .5s;
        background-color: aquamarine;

        #lightbulb {
            position: absolute;
            width: 5rem;
            top: 3%;
            right: 3%;
            cursor: pointer;
            transition: .5s;

            &:active {
                transform: scale(1.10);
            }
        }

        h1{
            font-size: 4rem;
            margin: 1rem;
            padding: 0;
            transition: .5s;
        }

        #calculator {
            background-color: gray;
            border: solid black 4px;
            border-radius: 1rem;
            width: 32%;
            height: 30rem;
        
            #calculatorDisplay {
                background-color: #FFF5A3;
                border: black solid;
                height: 6rem;
                width: 80%;
                margin: 2rem auto;
                border-radius: .5rem;
                font-size: 3rem;
                text-align: left;
                display: flex;
                    align-items: center;
                    justify-content: right;
            }

            #buttonsContainer{
            padding: 0 3rem 1rem 3rem;
            display: flex;
                justify-content: center;

                #numbers {
                    width: 18rem;
                    display: flex;
                    flex-wrap: wrap;
                }

                #operators {
                    width: 12rem;
                    display: flex;
                    flex-wrap: wrap;
                    div {
                        height: 4.9rem;
                    }
                }

                .btn {
                    font-size: 2.75rem;
                    background-color: lightgray;
                    min-width: 3.5rem;
                    height: 3.5rem;
                    margin: .25rem;
                    border: black solid;
                    border-radius: .25rem;
                    cursor: pointer; 
                    display: flex;
                        justify-content: center;
                        align-items: center;

                        &:active {
                            border:  black solid 2px;
                            opacity: 75%;
                        }
                }
            }
        }
}

.darkMode {
    background-color: rgb(33, 30, 53);
    h1 {
        color: white;
    }
}