@media screen and (max-width: 1300px) {
    body {
    overflow: hidden;

            #lightbulb {
                position: absolute;
                top: 4%;
                right: 9%;
                width: 3rem;
            }
    
            h1{
                font-size: 3rem;
                margin: .5rem .5rem 1rem -4rem;
            }
    
            #calculator {
                width: 90%;
                height: 29rem;
            
                #calculatorDisplay {
                    height: 4rem;
                    margin: 1.5rem auto;
                    font-size: 2.5rem;
                }
    
                #buttonsContainer{
                padding: 0 1rem 1rem 1rem;

                    #numbers {
                        width: 25rem;
                        display: flex;
                        flex-wrap: wrap;
                    }
    
                    #operators {
                        width: 8rem;
                        display: flex;
                        flex-wrap: wrap;
                        div {
                            height: 2.55rem;
                        }
                    }
    
                    .btn {
                        font-size: 2.5rem;
                        min-width: 3.5rem;
                        height: 4.25rem;
                        margin: .1rem;
                        border: black solid;
                        border-radius: .25rem;
                        cursor: pointer; 
                        display: flex;
                            justify-content: center;
                            align-items: center;
                    }
                }
            }
    }
    
    .darkMode {
        background-color: rgb(33, 30, 53);
        h1 {
            color: white;
        }
    }
}